<h1>Admin::Dashboard#show</h1>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @products.length %></span>
    Products
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @categories.length %></span>
    Categories
  </li>
</ul>